/**
 * 根据参考答案变更后，动画感觉更有"味道"
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.v-h-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  width: 100vw;

  .v-h-center();

}

@line-height: 8px;
@line-space: 14px;
@line-translate-y: @line-space + @line-height;
@icon-height: @line-height * 3 + @line-space * 2;

.container {
  height: 400px;
  width: 400px;
  background: #3FAF82;
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);

  .v-h-center();

  .menu-icon {
    width: 80px;
    height: @icon-height;
    position: relative;
    cursor: pointer;

    .menu-icon__line {
      height: @line-height;
      width: 100%;
      background: white;
      border-radius: 50px;
      box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.3);
      &:first-child {
      }
      &:nth-child(2) {
        margin: @line-space 0;
      }
      &:last-child {
      }

    }
  }
  .menu-icon.playing-animation {
    .menu-icon__line {
      animation-direction: alternate;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
      animation-iteration-count: 2;
      animation-timing-function: ease-in-out;
      &:first-child {
        animation-name: first-line;
      }
      &:nth-child(2) {
        animation-name: middle-line;
      }
      &:last-child {
        animation-name: last-line;
      }
    }

    @keyframes first-line {
      0% {
        transform: translateY(0) rotate(0);
      }
      50% {
        // 答案里通过margin撑开居中， 用变化translateY以达到动画的效果比改变top, bottom好很多。不知道是什么原因？
        // 可能是因为改变absolute top，其transform-origin不会跟着一起改变的缘故吧！
        transform: translateY(@line-translate-y) rotate(0);
      }
      100% {
        transform: translateY(@line-translate-y) rotate(-45deg);
      }
    }
    @keyframes middle-line {
      0% {
        transform: scale(1); // scale x y相同的话，可以简化
        opacity: 1; // 加个消失透明度动画确实会更好一些
      }
      100% {
        transform: scale(0);
        opacity: 0;
      }
    }
    @keyframes last-line {
      0% {
        transform: translateY(0) rotate(0);
      }
      50% {
        transform: translateY(-@line-translate-y) rotate(0);
      }
      100% {
        transform: translateY(-@line-translate-y) rotate(45deg);
      }
    }
  }
  .menu-icon.pause-animation {
    .menu-icon__line {
      animation-play-state: paused;
    }
  }
  .menu-icon.resume-animation {
    .menu-icon__line {
      animation-play-state: running;
    }
  }
}
